* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
#html {
  word-break: break-all;
}
#div1 {
  position: relative;
  top: 0px;
  margin: auto;
  animation: rotation 2.5s linear infinite;
}
#div1::before,
#div1::after {
  content: " ";
  display: block;
  position: absolute;
}

@media (max-width: 500px) {
  #html {
    height: 62vh;
    overflow: auto;
  }
  #div1 {
    position: relative;
    animation: rotation 2.5s linear infinite;
    height: auto;
  }
}
